body {
  color: #323031 !important;
  background: #FBFFFE;
}

h1 h2 h3 h4 h5 {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.0625em;
}

p {
  line-height: 30px;
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    flex-direction: row reverse;
  }
}


.bg-light {
  background-color: #FBFFFE !important;
}
#mainNav div.container {
  justify-content: start;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.navbar>.container {
  flex-wrap: nowrap;
}

.navbar-toggler {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  border: solid #212529 1px;
  color: #1e4c40;
  margin-right: 8px;
}

ul.navbar-nav {
  flex-direction: row;
}

ul.navbar-nav li {
  padding: 7px;
}

.navbar-nav a {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .navbar-nav a {
    font-size: 14px !important;
    font-weight: bold;
  }

  .skillBox {
    width: 50% !important;
    padding: 1rem 0 !important;
  }

  .skillBox h5 {
    font-size: 1rem;
    margin: 0;
  }

  .skillBoxRow {
    display: inline-flex;
    display: flex;
    flex-wrap: wrap !important;
    line-height: 1.3em;
  }

  .skillBoxRow hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border-top: 2px solid #00000096;
}

#headerContainer {
  padding-top: 5rem
}

.rows {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#topImage {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

img#topImage.col-md-8 {
  width: 100%;
  border-radius: 1rem;
  transform: rotate(90deg);
  filter: grayscale(10%);
  margin: auto;
  display: flex;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  #topImage {
    display: none;
  }

  img#topImage.col-md-8 {
    display: none;
  }

  #headerContainer .rightColumn {
    display: none;
  }

  .projects-section .featured-text {
    padding: 1rem !important;
  }

  .leftPictureSide {
    padding-bottom: 0 !important;
  }

  .projects-section {
    padding: 3rem 0 !important;
  }

  /* .container {
    width: 100%;
    padding-right: 0;

  } */
  .formBox {
    margin: 0px !important;
    padding: 0px !important;
  }

  .formBox form {
    padding: 0px !important;
  }

  .formBox fieldset {
    border: 0;
    display: flex;
    flex-direction: column !important;
  }

  .aboutBox {
    width: 90% !important;
  }

  .aboutBox p {
    line-height: 1.5rem;
    text-align: left !important;
  }

  .contact-section h3 {
    text-transform: none;
    margin: .5em 0 .5em !important;
  }
}

.skillBox {
  text-align: center;
  background-color: whitesmoke;
  width: -webkit-fill-available;
  padding: 5rem 0;
}

.skillBox ul {
  list-style-type: none !important;
  color: darkslategrey;
  font-family: 'Nunito';
  padding: 0;
}

.skillBox hr {
  width: 40%;
}

.skillBoxRow {
  display: flex;
  flex-wrap: nowrap;
}

#projects {
  /* background: white !important; */
}

.leftPictureSide {
  padding-bottom: 5rem;
}

.leftPicture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightPictureSide {
  padding-bottom: 3rem;
}

.bfimage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottomPictureSide {
  padding-bottom: 3rem;
}

#projectContainer {}

.toolsText {
  font-weight: 800;
}

#projects p {}

.aboutBox {
  width: 90%;
  font: icon;
}

#contactSection {
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
  color: white;
}

#contactRow {
  margin: 1rem;
}

#contactForm {
  background: whitesmoke;
}

#aboutSection {
  background: darkgrey;
}

.masthead {
  width: 100%;
  height: auto;
  min-height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Europa';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  background: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  color: black;
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 2rem;
    padding-top: 5rem;
    line-height: 4rem;
  }
}

@media (min-width: 300px) {
  .masthead h1 {
    padding-top: 5rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    /* height: 100vh; */
    padding: 0;
  }

  .masthead h1 {
    font-size: 3.5rem;
    line-height: 5.5rem;
    letter-spacing: 0.5rem;
  }

  .masthead h2 {
    max-width: 30rem;
    font-size: 1.5rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  font-family: 'Varela Round';
  font-size: 80%;
  letter-spacing: .15rem;
  border: 0;
}

.navGroup {
  letter-spacing: 2rem;
  font-size: 2.5rem;
  color: #dee2e6a8;
}

.navGroup a {
  color: #3AB795;
}

.social {
  margin-top: 3rem;
}

.projectButtons {
  border: 0;
  margin: .5rem;
  background-color: #3AB795;
  font-size: 100%;
  color: #FBFFFE;
  border-radius: 4px;
  font-family: 'Varela Round';
  text-transform: uppercase;
  border: 1px solid #3AB795;
}

.githubBtn {
  background: #e9f3f0ba;
  font-weight: bold;
  color: #3AB795;
  font-size: 90%;
  border: 1.25px solid #3AB795;
}

.demoBtn {
  letter-spacing: .1rem;
}

.contentBox {
  width: 80%;
  margin: auto;
}

.contact-section h4 {
  margin-bottom: 2rem;
}

.contact-section label {
  color: #5d6166e3;
}

.contact-section input {
  color: black;
}

.contact-section textarea {
  width: -webkit-fill-available;
  color: black;
}

.btn-primary {
  background-color: #51905f;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 5rem 0;
}

.projects-section .featured-text {
  padding: 0 0 0 2rem;
  background: white;
}

@media (min-width: 992px) {
  .projects-section .featured-text {}

  .projects-section .text-lg-left {
    padding: 0 0 0 2rem;
    margin-left: 2rem;
  }

  .projects-section .text-lg-right {
    margin-right: 2rem;
    padding: 0 2rem 0 0;
    text-align: left !important;
  }
}

.contact-section {
  background: linear-gradient(180deg, #BAD1CD 50%, #FBFFFE 50%);
  padding: 3rem 0 0;
}

.contact-section h3 {
  text-transform: none;
  margin: 1em 0 1em;
}

.contact-section .social {
  float: none;
  margin: 1rem;
  padding: 2rem;
}

.contact-section .social a {
  color: #6fc1a9;
  margin-bottom: 2rem;
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.lefttColumn {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.aboutIcons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.contentBox {
  border: solid black 1px;
}

.contactBox {
  padding: 20px;
  background: #FBFFFE;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
  border: solid #6c757d66 .5px;
}

.formBox {
  margin: 20px;
  padding: 20px;
}

.formBox form {
  padding: 20px;
}

.formBox fieldset {
  border: 0;
  display: flex;
}

.formBox input {
  margin: 10px;
  padding: 10px;
  border: #53715a 1px solid
}

.formBox textarea {
  margin: 10px;
  padding: 10px;
  border: #53715a 1px solid;
}

.formBox button {
  background-color: #3AB795;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  margin-top: 5px;
}

a {
  color: #3AB795;
}

a:focus, a:hover {
  text-decoration: none;
  color: #a7d6c9;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}
