
   /* width: 200px; */
   /* height: 100%; */

 /* .sidebar {
   z-index: 1;
   margin: 0;
   padding: 0;

   width: 80px;
   background-color: #f1f1f1;
   position: fixed;

   overflow: auto;
 } */

 body {
     position: relative;
 }



 #main-nav {

   /* background-color: #fff; */
   position: fixed;
   z-index: 10;
   top: 40px;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;

 }

 #main-nav ul {
 	list-style: none;
  padding-left: 0;
 }

 #main-nav li {
 	/* height: 40px; */
  height: 60px;
 }


 #main-nav a {
 	background-color: #ccc;
 	line-height: 60px;
 	display: inline-block;
 	/* height: 40px; */
  height: 60px;
 	position: relative;
 	border: none;
 	color: #fff;
 	font-size: 0;
 	padding-left: 40px;
 	overflow: hidden;
 	-webkit-transition: all 0.2s ease;
   	-moz-transition:    all 0.2s ease;
   	-o-transition:      all 0.2s ease;
   	transition: 		all 0.2s ease;
 }

 #main-nav a:hover {
 	font-size: 18px;
 	padding-right: 20px;
 }

 #main-nav .active a {
 	padding-right: 20px;
 }



 @media screen and (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
 }

 @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
 }






 #nav-top a {
 	background: #ccc;
 	/* color: #222; */
 }

 #nav-library a {
 	background: #80C883;
 }
 #nav-body a {
 	background: #5AB4B2;
 }
 #nav-weather a {
 	background: #70C1A9;
 }

 #nav-about a {
 	background: #EFF5ED;
 }

 #nav-contact a {
 	background: #3C59670;
 }










 .hiddenText {
     background-color: #6c757d9e;
     padding: 20px;

     display: none;
 }

.sidebar  a:hover + .hiddenText {
     /* display: block; */
     /* display: flex; */
     /* flex-direction: row; */
     overflow: hidden;
     position: relative;
     display: inline-block;
     float: right;
     /* float: left;
     flex: 1;
     clear:both; */
 }

.flexContainer:hover {
  /* display:  flex; */
  /* width:60px; */
  overflow: hidden;
  width: 80px;
  clear: both;
  height: 100px;
  /* background: gray; */
}

.flexContainer:hover .notHidden {
  /* margin-top:10px
  width: 50px; */
  /* padding-right: : 4rem;
 /* margin-left: 20px; */
 background: gray;
  float: left;
}
.flexContainer:hover  .hiddenDivRight {
  flex-grow: 1; /*grow
  /* margin-left: 101px; */
  background: blue;
  /* float: right; */
  /* margin-left: 20px; */
  float: right;
}

/*
.sidebar #projectsLink {
  background-color: #0c5460e0;
  line-height: 3rem;
  padding-top: 5rem;
}
.sidebar #aboutLink {
  background-color: #346f41e6;
  line-height: 3rem;
  padding-top: 5rem;
}
.sidebar #contactLink {
  background-color: #383d41cc;
  line-height: 3rem;
  padding-top: 5rem;
} */

 .sidebar a {
   /* background-color: #80808057;
   line-height: 1rem;
    display: flex;
    word-break: break-word;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    padding: 15px 35px 20px 35px;

        margin-bottom: .25rem;
    text-decoration: none;
        font-weight: 600; */

   /* display: block;
   color: black;
   padding: 16px;
   text-decoration: none; */
 }

 /* .sidebar a.active {
   background-color: #64a19d9c;
   color: white;
 } */

 /* .sidebar a:hover:not(.active) {
   background-color: #555;
   color: white;
 }



 @media screen and (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
 }

 @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
 } */




hr {
      display: block;
     box-sizing: content-box;
     height: 0;
     border-top: 2px solid #00000096;
 }


#headerContainer{
padding-top: 5rem

}

#projects{
  background: #6563641a!important;
  /* background: gainsboro; */
}

#projectContainer{
  /* background: gainsboro; */
}

.leftPictureSide {
padding-bottom: 5rem;

/* padding-left: 1rem; */
/* background-color: white; */
/* padding-right: 1rem; */
/* margin-right: -3rem;
margin-left: -1rem; */
/* padding-top: 2rem; */
}

.leftPicture{
  margin-top: -2rem;
}

.rightPictureSide {
  margin-top: -4rem;
  /* margin-right: -1rem; */
}


.bottomPictureSide{
  margin-top: -4rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  /* padding-left: 1rem; */
  /* background-color: gainsboro; */

}

#projectContainer{
  margin-top: -7rem;
}

.aboutBox {
  width: 70%;
  /* background: #00000091; */

}
#contactSection {
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);

  color: white ;
}

#contactRow {
  margin: 1rem;
}
#contactForm {
  background: whitesmoke;
}

#aboutSection {
  background: darkgrey;
}



/* #mainNav {
  min-height: 56px;
  background-color: #fff;
} */





.masthead {
  /* position: relative; */
  width: 100%;
  height: auto;
  min-height: 35rem;
  /* padding: 15rem 0; */
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%),

   url("../img/overhead.jpg"); */

   background:
    url("../img/overhead.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;


}

.masthead h1 {
  font-family: 'Europa';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: black;
  /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, .9)); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  color: black;
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }


  .masthead h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  /* padding: 1.25rem 2rem; */
  font-family: 'Varela Round';
  font-size: 80%;
  /* text-transform: uppercase; */
  letter-spacing: .15rem;
  border: 0;
}

.navGroup{
  padding-top: 4rem;
  letter-spacing: 2rem;
  font-size: 2.5rem;
  color: #dee2e6a8;

  /* margin-top: 3rem; */
}
.navGroup a {
  color: black;
  float: right;

}

.navButtons {
  margin: 1.5rem;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  /* padding: 1.25rem 2rem; */
  color: #e1f9fd;
  font-family: 'Varela Round';
  font-size: 80%;
  background: #65626275;
  /* text-transform: uppercase; */
  letter-spacing: .15rem;
  /* border: 0; */
  /* border-color: #dee2e64f; */
  border: 2px solid #dee2e67d; */

}

.social{
      /* margin-right: 3rem; */
      margin-top: 3rem;
      float: right;
}

.projectButtons {
  border: 0;
  margin: .5rem;
  /* background-color: #FFEFE2; */
  background-color: #007bffe3;
  font-size: 80%;
  color: #e9eceff2;
  border-radius: 4px;
  font-family: 'Varela Round';
  text-transform: uppercase;
  /* font-weight: bold; */
}


.contact-section {
  color: gray ;

  /* color: #e9ecefd6 ; */
}
.contentBox{
  width:80%;
  margin: auto;
}
.contact-section h4 {
  color: whitesmoke;
}
.contact-section label {
  color: #d5dde7d1;
}
.contact-section input {
  color: black;
}
.contact-section textarea {
  color: black;
}


.btn-primary {
  background-color: #51905f;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

/* .projects-section {
  padding: 10rem 0;
} */
.projects-section {
  padding: 5rem 0;
}

.projects-section .featured-text {
  padding: 4rem;

  background: white;

}

@media (min-width: 992px) {
  .projects-section .featured-text {

    /* border-right: 0.5rem solid #64a19d; */
    /* border-right: 0.5rem solid ; */

  }
}

@media (min-width: 992px) {
  .projects-section .text-lg-left {
    /* padding: 0 0 0 2rem; */
    /* border-right: 0.5rem solid #64a19d; */
    border-right: 0.5rem solid ;
    /* border-right: 0.5rem solid ; */
  }
}

@media (min-width: 992px) {
  .projects-section .text-lg-right {
    /* padding: 0 0 0 2rem; */
    /* border-right: 0.5rem solid #64a19d; */
    border-left: 0.5rem solid ;
    /* border-right: 0.5rem solid ; */
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 4rem 0;
  background: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 3rem 0 0;
}
.contact-section h3{
  text-transform: none;
      margin: 1em 0 1em;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  float: none;
  margin: 1rem;
  padding: 2rem;
flex-direction: column;
  /* margin-top: 5rem; */
}

.contact-section .social a {
  color: #6fc1a9;
  margin-bottom: 2rem;
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  /* color: rgba(255, 255, 255, 0.3); */
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

/* .bg-black {
  background-color: #161616 !important;
} */

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}
